
{% extends 'homepage/base_homepage.html' %}
{% load  static %}
{% load custom_tags %}

{% block content %}

<!--========== EBOOK-BANNER-START ============-->
<section class="ebook-banner">
<div class="container">
<div class="row g-4">
    <div class="col-lg-7">
    <div class="banner-detail">
        <h1 class="banner-title">
        An Entrepreneur's Guide to Develop Software for Business
        </h1>

        <div class="info">
        <p class="text">
            It is a long established fact that a reader will be distracted by the 
            readable content of a page when looking at its layout. It is a long 
            established fact that a reader will be distracted by the readable 
            content of a page when looking at its layout.
        </p>
        </div>

        <div class="downloadinfo">
        <a href="#" class="btn-explore k-hover2">Download Now</a>
        </div>
    </div>
    </div>
    <div class="col-lg-5">
    <figure class="banner-thumb">
        <img src="{% static 'homepage/assets/images/ebook/ebook-banner.png' %}" alt="banner-thumb">
    </figure>
    </div>
</div>
</div>
</section>
<!--========== EBOOK-BANNER-END ============-->

<!--========== IN-THIS-BOOK START ============-->
<section class="inthisbook">
<div class="inthisbook-content">
<div class="inthisbook-header">
    <div class="container h-100">
    <div class="details">
        <div class="leftinfo">
        <h2 class="title">In this book</h2>
        </div>
        
        <div class="rightinfo">
        <div class="slider-buttons">
            <button class="swiper-button-prev">
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M49.9531 26.0869L6.61979 26.0869" stroke="#00142D" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M19.5 10.833L4.33333 25.9997L19.5 41.1663" stroke="#00142D" stroke-width="2" stroke-linecap="square"/>
            </svg>
            </button>

            <button class="swiper-button-next">
            <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.04688 26.0869L45.3802 26.0869" stroke="#00142D" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
                <path d="M32.5 10.833L47.6667 25.9997L32.5 41.1663" stroke="#00142D" stroke-width="2" stroke-linecap="square"/>
            </svg>
            </button>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="inthisbook-body">
    <div class="container">
    <div class="swiper bookslider">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="cardbook">
            <div class="cardbook-header">
                <figure class="bookcard-icon">
                <img src="{%  static  'homepage/assets/images/ebook/icons/icon-1.png' %}" alt="bookcard-icon">
                </figure>

                <h5 class="title">
                Requirements gathering in project management
                </h5>
            </div>
            
            <div class="cardbook-body">
                <p class="text">
                We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
            </div>
            </div>
        </div>
        
        <div class="swiper-slide">
            <div class="cardbook">
            <div class="cardbook-header">
                <figure class="bookcard-icon">
                <img src="{%  static  'homepage/assets/images/ebook/icons/icon-4.png' %}" alt="bookcard-icon">
                </figure>

                <h5 class="title">
                Managing software development teams without having a technical background
                </h5>
            </div>
            
            <div class="cardbook-body">
                <p class="text">
                We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
            </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="cardbook">
            <div class="cardbook-header">
                <figure class="bookcard-icon">
                <img src="{%  static  'homepage/assets/images/ebook/icons/icon-3.png' %}" alt="bookcard-icon">
                </figure>

                <h5 class="title">
                How much does it cost to hire a software development company
                </h5>
            </div>
            
            <div class="cardbook-body">
                <p class="text">
                We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
            </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="cardbook">
            <div class="cardbook-header">
                <figure class="bookcard-icon">
                <img src="{%  static  'homepage/assets/images/ebook/icons/icon-2.png' %}" alt="bookcard-icon">
                </figure>

                <h5 class="title">
                How to successfully manage a remote software development team
                </h5>
            </div>
            
            <div class="cardbook-body">
                <p class="text">
                We keep looking towards the future, at the same time recognizing awareness  that behavior change takes place only with a clear awareness of the current state.
                </p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
</section>
<!--========== IN-THIS-BOOK END ============-->

<!--========== KEY-TOPICS END ============-->
<section class="keytopics">
<div class="container">
<div class="keytopics-detail">
    <h2 class="keytitle">Key Topics</h2>

    <div class="row g-4 w-100">
    <div class="col-lg-6">
        <figure class="topicthumb">
        <img src="{%  static  'homepage/assets/images/ebook/keytopic.png' %}" alt="key-topic-thumb">
        </figure>  
    </div>

    <div class="col-lg-6">
        <div class="topics">
        <span class="topic">01 Product Market Fit</span>
        <span class="topic">02 Process Identifying</span>
        <span class="topic">03 Manage Teams</span>
        <span class="topic">04 Tech Maintenance</span> 
        <span class="topic">05 Better Contractor</span>
        <span class="topic">06 Software development</span>
        <span class="topic">07 Software Evaluation</span>
        <span class="topic">08 Software Support</span>
        </div>
    </div>
    </div>
</div>
</div>
</section>
<!--========== KEY-TOPICS END ============-->

<!--========== AUTHOR-SECTION START ============-->
<div class="authorsection">
<div class="container">
<div class="row g-0">
    <div class="col-lg-4">
    <figure class="authorthumb">
        <img src="{%  static  'homepage/assets/images/ebook/author.png' %}" alt="author-thumbnail">
    </figure>
    </div>
    
    <div class="col-lg-8">
    <div class="detail">
        <div class="authorinfo">
        <h5 class="name">Mosarrof Hossain</h5>
        <p class="text">
            Mosarrof Hossain is a very well known face in Bangladesh ICT Industry. 
            He has been working in ICT sector for over 10 years. 
            He graduated in Computer Science from Southeast University and started 
            his career journey as a Software Engineer 10 years ago. 
            He started his own company 'Qtec Solution Limited' at 2019, 
            which aims to provide Software Engineers for businesses. 
        </p>
        </div>

        <p class="authortext">Author</p>
    </div>
    </div>
</div>
</div>

<figure class="icon">
<svg width="500" height="519" viewBox="0 0 500 519" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <rect x="217.617" width="365.376" height="376.425" transform="rotate(35.3183 217.617 0)" fill="url(#pattern0)"/>
</svg>
</figure>
</div>
<!--========== AUTHOR-SECTION END ============-->

<!--========== HAPPY-REVIEWS START ============-->
<section class="happyreviews">
<div class="container">
<div class="happyreviews-content">
    <div class="happyreviews-header">
    <h2 class="reviewtitle">Happy Reviews</h2>

    <div class="slider-buttons">
        <button class="swiper-button-prev">
        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M49.9531 26.0869L6.61979 26.0869" stroke="#00142D" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M19.5 10.833L4.33333 25.9997L19.5 41.1663" stroke="#00142D" stroke-width="2" stroke-linecap="square"/>
        </svg>
        </button>

        <button class="swiper-button-next">
        <svg width="52" height="52" viewBox="0 0 52 52" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.04688 26.0869L45.3802 26.0869" stroke="#00142D" stroke-width="2" stroke-linecap="square" stroke-linejoin="round"/>
            <path d="M32.5 10.833L47.6667 25.9997L32.5 41.1663" stroke="#00142D" stroke-width="2" stroke-linecap="square"/>
        </svg>
        </button>
    </div>
    </div>

    <div class="happyreviews-body">
    <div class="swiper reviewslider">
        <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="cardreview">
            <figure class="reviewer">
                <img src="{%  static  'homepage/assets/images/ebook/reviewers/reviewer-1.png' %}" alt="reviewer-thumbnail">
            </figure>

            <div class="reviewinfo">
                <p class="reviewtext">
                We keep looking towards the future, at the same time recognizing 
                awareness  that behavior change takes place only with a clear 
                awareness of the current state.
                </p>
            </div>

            <div class="reviwerinfo">
                <h5 class="name">Omar khalid</h5>
                <p class="designation">Entrepreneur , Mongolix</p>
            </div>
            </div>
        </div>
        
        <div class="swiper-slide">
            <div class="cardreview">
            <figure class="reviewer">
                <img src="{%  static  'homepage/assets/images/ebook/reviewers/reviewer-1.png' %}" alt="reviewer-thumbnail">
            </figure>

            <div class="reviewinfo">
                <p class="reviewtext">
                We keep looking towards the future, at the same time recognizing 
                awareness  that behavior change takes place only with a clear 
                awareness of the current state.
                </p>
            </div>

            <div class="reviwerinfo">
                <h5 class="name">Omar khalid</h5>
                <p class="designation">Entrepreneur , Mongolix</p>
            </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="cardreview">
            <figure class="reviewer">
                <img src="{%  static  'homepage/assets/images/ebook/reviewers/reviewer-1.png' %}" alt="reviewer-thumbnail">
            </figure>
homepage/assets/images
            <div class="reviewinfo">
                <p class="reviewtext">
                We keep looking towards the future, at the same time recognizing 
                awareness  that behavior change takes place only with a clear 
                awareness of the current state.
                </p>
            </div>

            <div class="reviwerinfo">
                <h5 class="name">Omar khalid</h5>
                <p class="designation">Entrepreneur , Mongolix</p>
            </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="cardreview">
            <figure class="reviewer">
                <img src="{%  static  'homepage/assets/images/ebook/reviewers/reviewer-1.png' %}" alt="reviewer-thumbnail">
            </figure>

            <div class="reviewinfo">
                <p class="reviewtext">
                We keep looking towards the future, at the same time recognizing 
                awareness  that behavior change takes place only with a clear 
                awareness of the current state.
                </p>
            </div>

            <div class="reviwerinfo">
                <h5 class="name">Omar khalid</h5>
                <p class="designation">Entrepreneur , Mongolix</p>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
</section>
<!--========== HAPPY-REVIEWS END ============-->

<!--========== GET-THE-BOOK START ============-->
<section class="getbook">
<div class="container">
<div class="getbook-content">
    <h2 class="title">Get The Book</h2>

    <div class="getbook-body">
    <div class="row g-4 align-items-center">
        <div class="col-md-6">
        <figure class="bookthumb">
            <img src="{%  static  'homepage/assets/images/ebook/book.png' %}" alt="book-thumb">
        </figure>
        </div>

        <div class="col-md-6">
        <div class="detail">
            <h4 class="title">
            An Entrepreneur's Guide to Develop Software for Business
            </h4>
            
            <form class="contactform" method="post" action="{% url 'homepage:e_book_view' %}">
                {% csrf_token %}
                <div class="forminfo">
                    <div class="row g-4">
                        <div class="col-lg-6 col-12">
                            <div class="inputbox">
                                {{ form.user_name }}
                                {% if form.user_name.errors %}
                                    <p class="error-message">{{ form.user_name.errors.as_text }}</p>
                                {% endif %}
                            </div>
                        </div>
            
                        <div class="col-lg-6 col-12">
                            <div class="inputbox">
                                {{ form.phone_number }}
                                {% if form.phone_number.errors %}
                                    <p class="error-message">{{ form.phone_number.errors.as_text }}</p>
                                {% endif %}
                            </div>
                        </div>
            
                        <div class="col-lg-6 col-12">
                            <div class="inputbox">
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <p class="error-message">{{ form.email.errors.as_text }}</p>
                                {% endif %}
                            </div>
                        </div>
            
                        <div class="col-lg-6 col-12">
                            <div class="formsubmit">
                                <button id="submit-message" class="btn-submit" type="submit">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            

            <p class="text">
            An email will be send with the download link. Don’t forget to post your reviews.
            </p>
        </div>
        </div>
    </div>
    </div>
</div>
</div>
<!-- Thanks for downloading the book start -->
<!-- {% for msg in messages %}
<div  class="position-fixed bottom-0 start-0 p-10" style="z-index: 11;height: 30; width: 50; margin: 5px;">
    <div id="bookdownloadToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-body">
        <div class="bookdownloadinfo">
					<div class="left">
						<div class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
								<path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
								<path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
							</svg>
						</div>
					</div>

          <div class="detail">
            <h5 class="title">Thank you for downloading the book!</h5>
            <p class="message">You will receive an email with a download link shortly.</p>
          </div>
        </div>

        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
          </svg>
        </button>
      </div>
    </div>
  </div>
{% endfor %} -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Title</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>This is the modal content.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  <!-- Thanks for downloading the book END -->
</section>
<!--========== GET-THE-BOOK END ============-->

{% endblock %}

{% block script %}
    <script src="{% static 'homepage/assets/js/ebookslider.js' %}"></script>
    <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script>
        {% for flashmsg in messages %}
        
        var delay = alertify.get('notifier','delay');
        alertify.set('notifier','delay', 60, 'position', 'bottom-left');
        alertify.success('Thanks for downloading\n. We will shortly send you a mail with the download link.');
        

        // alertify.set('notifier','position', 'bottom-left');
        {% endfor %}
    </script>
{% endblock %}